@import "tailwindcss";

@theme {
  --color-cyber-blue-400: #227bdc;
  --color-cyber-blue-500: #1e81ec;

  --color-cyber-yellow-400: #fffb5e;
  --color-cyber-yellow-500: #ffff00;
  --color-cyber-yellow-600: #fded0e;

  --color-cyber-red-400: #d7020a;
  --color-cyber-red-500: #c7022f;
  --color-cyber-red-600: #a91c2b;

  --color-cyber-black-400: #000020;
  --color-cyber-black-500: #00000f;
}

@layer components {
  .bg-brand-gradient-1 {
    background: linear-gradient(
      to bottom,
      var(--color-cyber-yellow-400) 75%,
      var(--color-cyber-yellow-500) 100%
    );
  }

  .bg-brand-gradient-2 {
    background: linear-gradient(
      to bottom,
      var(--color-cyber-yellow-500) 95%,
      var(--color-cyber-black-400) 100%
    );
  }

  .bg-brand-gradient-3 {
    background: linear-gradient(
      to bottom,
      var(--color-cyber-black-400) 30%,
      var(--color-cyber-yellow-500) 100%
    );
  }
}

html {
  background-color: var(--color-cyber-black-400);
}

body {
  color: var(--color-cyber-black-400);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--color-cyber-black-400);
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--color-cyber-blue-400);
  border-radius: 5px;
}

.page-heading {
  font-size: x-large;
  padding-bottom: 1rem;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .page-heading {
    padding-bottom: 2rem;
  }
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.315); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Frosted effect */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* slight shadow */
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3); /* border with subtle transparency */
  margin: auto;
}

.container-card {
  max-width: 95vw;
  margin: auto;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .container-card {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .container-card {
    max-width: 70vw;
  }
}

/* Define the fade-in animation */
.fade-in {
  opacity: 0.2; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Fading effect over 0.25s */
}

.fade-in-visible {
  opacity: 1; /* Make the element fully visible when in view */
}

@keyframes pulse-glow {
  0% {
    border-color: white;
    background: var(--color-cyber-black-500);
  }
  50% {
    border-color: var(--color-cyber-blue-400);
    background: var(--color-cyber-black-400);
  }
  100% {
    border-color: white;
    background: var(--color-cyber-black-500);
  }
}

.interactive {
  color: white;
  box-shadow: 0px 5px 10px var(--color-cyber-blue-400);
  border: solid 1px white;
  transition: all 0.5s ease-in-out;
  animation: pulse-glow 2s infinite ease-in-out;
}

.interactive:hover {
  background: var(--color-cyber-blue-400);
  box-shadow: 0px 5px 20px var(--color-cyber-blue-500);
  border-color: var(--color-cyber-blue-500);
  cursor: pointer;
}
