@import "tailwindcss";

@theme {
  --color-brand-primary-400: #cf0276;
  --color-brand-primary-500: #98004b;
  --color-brand-primary-600: #970256;
}

body {
  color: #cf0276;
}
/* body {
  display: initial;
  margin: initial;
  color: #98004b;
} */

/* #root {
  font-family: "Ubuntu Condensed", sans-serif;
  margin: initial;
} */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: gray;
  border-radius: 5px;
}

/* CSS Reset */
/* html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  padding: 0 1rem;
} */

.page-heading {
  font-size: x-large;
  padding-bottom: 2rem;
  font-weight: bolder;
}
/* .hidden {
  position: absolute;
  clip-path: inset(100%);
} */

.frosted-glass {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Frosted effect */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* slight shadow */
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3); /* border with subtle transparency */
  margin: auto;
}

.container-card {
  max-width: 95vw;
  margin: auto;
  padding: 2rem 0;
}
@media screen and (min-width: 1200px) {
  .container-card {
    max-width: 70vw;
  }
}

/* Define the fade-in animation */
.fade-in {
  opacity: 0.2; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Fading effect over 0.25s */
}

.fade-in-visible {
  opacity: 1; /* Make the element fully visible when in view */
}
