body {
  display: initial;
  margin: initial;
  color: #98004b;
}

#root {
  font-family: "Ubuntu Condensed", sans-serif;
  margin: initial;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: gray;
  border-radius: 5px;
}

/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
