/* ThreeDCarousel */
@keyframes autoSpin {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.animate-autoSpin {
  animation: autoSpin 20s linear infinite;
}
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  /* Spin the entire carousel rather than individual items */
  animation: autoRun 20s linear infinite;

  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;

  --carousel-radius: 550px;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(var(--carousel-radius));
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the absolute element */
  transform: translateX(-50%); /* Center the absolute element */
  height: max-content;
  width: min(1400px, 100vw);
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
}

.banner .content h1 {
  font-size: 4em;
  line-height: 1em;
  color: red;

  padding: 0 50px;
  position: relative;
}

.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d80000;
  color: transparent;
}

.banner .content h2 {
  font-size: 2em;
  color: red;
}

.banner .content p {
  font-size: 1em;
  color: red;
}
.banner .content a {
  color: red;
}

.banner .content .author {
  text-align: right;
  max-width: 200px;
  padding-right: 50px;
  z-index: 3;
}

.banner .content .model-3d-centered {
  background-image: url(images/brgfx-freepik.avif);
  width: 100%;
  height: 65vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
